body{
    font-family:serif;
    
    color: rgb(2, 185, 140);
    margin:0;
}

h1{
    background: #ffffff;
    margin: 0;
    
}

hr{
    margin-top: 0;
    
}

.cor{
    color: #575757;
    background: ;
}
