
h1 {
    text-align: center;
    font-size: 50px;
    border-top: 1px solid red;}
   
div {
    text-align: center;
 }
 
.img {
            text-align: center;}

.container{
    display:flex;
}
           


.body{
    font-family:'Times New Roman', Times, serif;

}

.esquerda{
    text-align: left;
    font-size: 20px;
}


         
